<link href="../media/css/guars/styles.css" rel="stylesheet" type="text/css" />
<link href="../media/css/guars/styles_img.css" rel="stylesheet" type="text/css" />




<div id="header">
		<div class="menu_sup_sta">
        	<div class="menu_sup_sta_servertime"><table class="button_small"><tr>
<td class="din01"></td><td class="din02"></td><td class="din03"></td></tr><tr><td class="din04"></td><td class="din05 button_small_text">Hora del Servidor : 16:21:22 h</td><td class="din06"></td></tr><tr><td class="din07"></td><td class="din08"></td><td class="din09"></td></tr></table></div>
			<div class="menu_sup_sta_options"><table class="button_small"><tr>
<td class="din01"></td><td class="din02"></td><td class="din03"></td></tr><tr><td class="din04"></td><td class="din05"><a href="index.html">Inicio</a></td><td class="din06"></td></tr><tr><td class="din07"></td><td class="din08"></td><td class="din09"></td></tr></table><table class="button_small"><tr>
<td class="din01"></td><td class="din02"></td><td class="din03"></td></tr><tr><td class="din04"></td><td class="din05"><a href="/desloguearse">Logout</a></td><td class="din06"></td></tr><tr><td class="din07"></td><td class="din08"></td><td class="din09"></td></tr></table><table class="button_small"><tr>
<td class="din01"></td><td class="din02"></td><td class="din03"></td></tr><tr><td class="din04"></td><td class="din05"><a href="http://foro.w4rs.com">Foro</a></td><td class="din06"></td></tr><tr><td class="din07"></td><td class="din08"></td><td class="din09"></td></tr></table><table class="button_small"><tr>
<td class="din01"></td><td class="din02"></td><td class="din03"></td></tr><tr><td class="din04"></td><td class="din05"><a href="#">Manual</a></td><td class="din06"></td></tr><tr><td class="din07"></td><td class="din08"></td><td class="din09"></td></tr></table><table class="button_small"><tr>
<td class="din01"></td><td class="din02"></td><td class="din03"></td></tr><tr><td class="din04"></td><td class="din05"><a href="perfil.html">Perfil</a></td><td class="din06"></td></tr><tr><td class="din07"></td><td class="din08"></td><td class="din09"></td></tr></table></div>
		</div>
        <div class="menu_sup_game">
        	<div class="logo"><a href="http://guars.melocurro.com/"><img src="../media/img/guars/null.gif"/></a></div><div class="menu_sup_game_buttons"><a href="/aldea/{{aldea.id}}" id="b1_act"><img src="../media/img/guars/null.gif" title="Aldea" alt="Aldea"></a><a href="mapa.html" id="b2"><img src="../media/img/guars/null.gif" title="Aldea" alt="Aldea" /></a><a href="mensajes.html" id="b3"><img src="../media/img/guars/null.gif" title="Mensajes" alt="Mensajes" /></a><a href="reportes.html" id="b4"><img src="../media/img/guars/null.gif" title="Reportes" alt="Reportes" /></a><a href="estadisticas.html" id="b5"><img src="../media/img/guars/null.gif" title="Aldea" alt="Aldea" /></a><a href="plus.html" id="b6"><img src="../media/img/guars/null.gif" title="Aldea" alt="Aldea" /></a></div><div class="face"><img src="../media/img/guars/cara_huma.png" width="130" height="90" /></div>
        </div>
   	  
</div>
