<!DOCTYPE HTML>
<html>

<link href="/media/css/styles.css" rel="stylesheet" type="text/css" />

<div id="container">
    
{% if user.is_authenticated %} 

<a href="{{site.url}}/desloguearse" class="movement red_hard text12 bold paddingright10">Cerrar sesión</a> 

{% else %}
        
    <div class="login">
        <form method="post" action="{% url django.contrib.auth.views.login %}" id="sin_margen">{% csrf_token %}
        <table border="0" align="center" cellpadding="0" cellspacing="0" class="login_table">
            <tr>
                <td height="25" class="text13 white bold paddingright10">{{ form.username.label_tag }} :</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td height="25" class="text13 white bold paddingright10">{{ form.password.label_tag }} :</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td height="35" colspan="2" align="center" valign="bottom"><input type="submit" value="login" />
            </tr>
        </table>
        </form>
    </div>
        
	<div class="clearfloat"></div>

{% endif %}

</div>


