<link href="../media/css/guars/styles.css" rel="stylesheet" type="text/css" />
<link href="../media/css/guars/styles_img.css" rel="stylesheet" type="text/css" />

<div class="resources">
	<div class="resources_box"><div class="resources_img"><img src="../media/img/guars/null.gif" class="materiasg_madera" /></div><div class="resources_data"><div class="resources_data1">{{aldea.depositobosque}}</div><div class="resources_data2">8000000</div><div class="resources_data3">+{{incrementobosque}}</div></div></div>
    <div class="resources_box"><div class="resources_img"><img src="../media/img/guars/null.gif" class="materiasg_barro" /></div><div class="resources_data"><div class="resources_data1">{{aldea.depositobarrizal}}</div><div class="resources_data2">8000000</div><div class="resources_data3">+{{incrementobarrizal}}</div></div></div>
    <div class="resources_box"><div class="resources_img"><img src="../media/img/guars/null.gif" class="materiasg_hierro" /></div><div class="resources_data"><div class="resources_data1">{{aldea.depositomina}}</div><div class="resources_data2">8000000</div><div class="resources_data3">+{{incrementomina}}</div></div></div>
    <div class="resources_box"><div class="resources_img"><img src="../media/img/guars/null.gif" class="materiasg_comida" /></div><div class="resources_data"><div class="resources_data1">{{aldea.depositohuerto}}</div><div class="resources_data2">8000000</div><div class="resources_data3">+{{incrementohuerto}}</div></div></div>
    <div class="resources_box"><div class="resources_img"><img src="../media/img/guars/null.gif" class="materiasg_consumo" /></div><div class="resources_data"><div class="resources_data1">8000000</div><div class="resources_data2">8000000</div><div class="resources_data3">+1250</div></div></div>
</div>

