<link href="../media/css/guars/styles.css" rel="stylesheet" type="text/css" />
<link href="../media/css/guars/styles_img.css" rel="stylesheet" type="text/css" />

<div class="villages_level">
    <div class="caja_static1"></div>
	<div class="caja_static2"><div class="caja_static2_icons"><img src="../media/img/guars/null.gif" class="action_edit" /><img src="../media/img/guars/null.gif" class="action_map" /><img src="../media/img/guars/null.gif" class="materiasp_comida" /><img src="../media/img/guars/null.gif" class="action_attack" /></div><div class="caja_static2_text"><a href="#" id="mostrar">{{aldea.nombre}} de {{aldea.usuario.username}}</a><div class="caja_static2_coord">-200/-200</div></div></div> 
	<div class="caja_static4"></div>

    <div id="caja">                
        <div class="caja_dynamic"><div class="caja_static2_icons"><img src="../media/img/guars/null.gif" class="action_edit" /><img src="../media/img/guars/null.gif" class="action_map" /><img src="../media/img/guars/null.gif" class="materiasp_comida" /><img src="../media/img/guars/null.gif" class="action_attack" /></div>
<div class="caja_static2_text">
{%for i in listaaldeas%}
<a href="#" id="mostrar">{{i.nombre}}</a><br>
{%endfor%}
<div class="caja_dynamic_coord">-200/-200</div></div><div class="clearfloat"></div></div>
        <div class="caja_static1"></div>
        <div class="caja_static2"></div> 
        <div class="caja_static4"></div>                        
    </div>
    
<div class="level"><div class="levels_1"></div>
<div class="levels_1"></div>
<div class="levels_1"></div>
<div class="levels_1"></div>
<div class="levels_1"></div>
<div class="levels_1"></div>
<div class="levels_2"></div>
<div class="levels_2"></div>
<div class="levels_2"></div>
<div class="levels_2"></div>
<div class="levels_text">(5/20)</div></div>      
    
</div>
