<html>
<link href="../media/css/styles.css" rel="stylesheet" type="text/css" />
<title>Foro W4RS</title>
{% autoescape off%}
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="marginbottom5 box_stones">
  <tr>
    <td colspan="3" align="center"><table width="900" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3"><a href="http://foro.w4rs.com/"><img src="../media/img/header.png" width="900" height="75" border="0"></a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../media/img/background_table_sup.png" width="900" height="9"></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="box_forums">
  <tr>
    <td colspan="3" class="text11 brown_text bold">Si es tu primera visita a los foros no te olvides de revisar el <a href="#" class="bold red_hard movement">FAQ</a>.  Tal vez tengas que <a href="#" class="bold red_hard movement">registrarte</a> antes de que puedas participar: da clic en la liga de registrarse para continuar.  Para comenzar a ver los mensajes selecciona el foro que deseas de los que aparecen abajo.</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="marginbottom10">
  <tr>
    <td><img src="../media/img/background_table_inf.png" width="900" height="9"></td>
  </tr>
</table>

<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../media/img/background_table_sup.png" width="900" height="9"></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="box_forums">
  <tr>
    <td height="25" align="right">{% if user.is_authenticated %} <a href="http://foro.w4rs.com/desloguearse" class="movement red_hard text12 bold paddingright10">Cerrar sesión</a> {% else %}
      <form action="/login/" method="post" accept-charset="utf-8" id="sin_margen">
        <label for="username" class="text12 bold brown_text">Username:</label>
        <input type="text" name="username" value="" id="username" class="text12 brown_text"/>
        <label for="password" class="text12 bold brown_text paddingleft5">Password:</label>
        <input type="password" name="password" value="" id="password"  class="text12 brown_text"/>
        <input type="submit" class="text11" value="Login">
      </form>
      {% endif %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="marginbottom10">
  <tr>
    <td><img src="../media/img/background_table_inf.png" width="900" height="9"></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="5" cellspacing="0" class="marginbottom10">
  <tr>
    <td class="text12 brown_text bold">Foro W4rs &gt; Subforo &gt;</td>
  </tr>
</table>

<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../media/img/background_table_sup.png" width="900" height="9"></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="box_forums">
  <tr>
    <td><table width="100%" border="0" cellpadding="5" cellspacing="0" class="marginbottom5">
      <tr>
        <td width="5%" bgcolor="#CCB382" class="text15 bold brown_build">&nbsp;</td>
        <td width="35%" bgcolor="#CCB382" class="text15 bold brown_build">Secciones</td>
        <td width="40%" bgcolor="#CCB382" class="text15 bold brown_build">Último comentario</td>
        <td width="10%" align="center" bgcolor="#CCB382" class="text15 bold brown_build">Hilos</td>
        <td width="10%" align="center" bgcolor="#CCB382" class="text15 bold brown_build">Posts</td>
      </tr>
    </table></td>
  </tr>
</table>
{% if subforo %}
{% for objeto in subforo %}


<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="box_forums">
  <tr>
    <td><table width="100%" border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td width="5%" align="center"><img src="../media/img/esfera_fuego_big.jpg" width="25" height="25"></td>
        <td width="35%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <!--<td height="20" class="text16 brown_text bold"><a href="http://foro.w4rs.com/{{objeto.foroprincipal.titulo}}/{{objeto.titulo}}" class="movement red_hard">{{ objeto.titulo }}</a></td>-->
		<td height="20" class="text16 brown_text bold"><a href="http://foro.w4rs.com/{{objeto.foroprincipal.id}}/{{objeto.id}}" class="movement red_hard">{{ objeto.titulo }}</a></td>
          </tr>
          <tr>
            <td class="text11 brown_text">{{objeto.descripcion}}</td>
          </tr>
        </table></td>
        <td width="40%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20" class="text12 brown_text bold">Aquí tendría que ir el último hilo del subforo</td>
          </tr>
          <tr>
            <td class="text11 brown_soft4"><strong>{{objeto.usuario}}</strong> ({{objeto.fecha}})</td>
          </tr>
        </table></td>
        <td width="10%" align="center" class="text12 brown_text">201</td>
        <td width="10%" align="center" class="text12 brown_text">280</td>
      </tr>
      </table>
  </table>

 {% endfor %}
{% else %}


<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="box_forums">
  <tr>
    <td><table width="100%" border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td width="5%" align="center" class="text14 bold brown_build">No hay  SubForos disponibles. Crea tu SubForo ahora.</td>
        </tr>
    </table>
</table>

 {% endif %}
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="marginbottom10">
  <tr>
    <td><img src="../media/img/background_table_inf.png" width="900" height="9"></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../media/img/background_table_sup.png" width="900" height="9"></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="box_forums">
  <tr>
    <td><table border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td width="40" align="center"><img src="../media/img/esfera_fuego_big.jpg" width="25" height="25"></td>
        <td class="text12 brown_text bold">El foro tiene nuevos posts</td>
        <td width="40" align="center"><img src="../media/img/esfera_fuego2_big.jpg" width="25" height="25"></td>
        <td class="text12 brown_text bold">  El foro no tiene nuevos posts</td>
      </tr>
    </table>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="marginbottom10">
  <tr>
    <td><img src="../media/img/background_table_inf.png" width="900" height="9"></td>
  </tr>
</table>
{% endautoescape %}
</html>

